---
// Importaciones de componentes y utilidades
import Layout from '../layouts/Layout.astro'; // Layout principal de la página
import Card from '../components/Card.astro'; // Componente para mostrar tarjetas de servicios
import Hero from '../components/Hero.astro'; // Componente de la sección principal (héroe)
import AboutMe from '../components/AboutMe.astro'; // Componente de la sección "Sobre Mí"
import BriefCase from "@/components/icons/BriefCase.astro"; // Icono para consultoría
import Folder from "@/components/icons/Folder.astro"; // Icono para proyectos
import Road from "@/components/icons/Road.astro"; // Icono para infraestructura vial
import RoadSign from "@/components/icons/RoadSign.astro"; // Icono para topografía
import WaterDrop from "@/components/icons/WaterDrop.astro"; // Icono para recursos hídricos
import ProjectCarousel from "@/components/ProjectCarousel.astro"; // Carrusel de proyectos
import { PROJECTS } from "../data/projects"; // Datos de los proyectos
import SectionContainer from "@/components/SectionContainer.astro"; // Contenedor de sección genérico
import UserIcon from "@/components/icons/User.astro"; // Icono para la sección "Sobre Mí"
import Tools from "@/components/icons/Tools.astro"; // Icono para diseño de estructuras

// Importar imágenes para las tarjetas de servicios
import consultoriaWebp from '../assets/Consultoria/consultoria.webp';
import estructurasWebp from '../assets/Estructuras/Estructuras.webp';
import viasWebp from '../assets/vias/vias.webp';
import hidraulicaWebp from '../assets/Recursos-Hídricos/hidraulica.webp';
import topografiaWebp from '../assets/Topografía/topografia.webp';
---

<!--
  Página de inicio del portafolio.
  Utiliza el Layout principal y organiza las secciones clave del sitio:
  Hero, Servicios, Proyectos y Sobre Mí.
-->
<Layout
	title="Ingeniero Civíl Guillermo Quintero"
	description="Portafolio de servicios de ingeniería civil, incluyendo consultoría, diseño estructural, infraestructura vial, gestión hídrica y topografía avanzada."
>
	<main>
		<!-- Sección principal (Hero) -->
		<Hero />

		<!-- Sección de Servicios -->
		<SectionContainer class="px-4 sm:px-8 lg:px-28 py-20 bg-gray-50" id="servicios" fullWidth={true}>
			<h2 class="text-2xl font-bold flex gap-x-2 items-center mb-8 text-secondary">
				<Tools class="inline size-7" />
				Nuestros Servicios
			</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<!-- Tarjeta de servicio: Consultoría Estratégica -->
				<Card
					title="Consultoría Estratégica en Ingeniería"
					body="Asesoría experta para optimizar tus proyectos, garantizar la calidad y alcanzar tus objetivos. Transformamos tus desafíos en soluciones eficientes y rentables. Descubre cómo te ayudamos."
					href="/consultoria"
					Icon={BriefCase}
					imageUrl={consultoriaWebp}
					class="animate-fade-in-up animation-delay-100"
				/>
				<!-- Tarjeta de servicio: Diseño y Cálculo de Estructuras -->
				<Card
					title="Diseño y Cálculo de Estructuras"
					body="Creamos estructuras seguras y duraderas, desde cero. Tu tranquilidad es nuestra prioridad, asegurando la solidez de cada edificación con ingeniería de precisión. Descubre cómo te ayudamos."
					href="/estructuras"
					Icon={Tools}
					imageUrl={estructurasWebp}
					class="animate-fade-in-up animation-delay-200"
				/>
				<!-- Tarjeta de servicio: Ingeniería de Infraestructura Vial -->
				<Card
					title="Ingeniería de Infraestructura Vial"
					body="Diseñamos vías que conectan, movilizan y potencian el desarrollo. Construimos caminos que impulsan el progreso y mejoran la calidad de vida de las comunidades. Descubre cómo te ayudamos."
					href="/vias"
					Icon={Road}
					imageUrl={viasWebp}
					class="animate-fade-in-up animation-delay-300"
				/>
				<!-- Tarjeta de servicio: Gestión Sostenible de Recursos Hídricos -->
				<Card
					title="Gestión Sostenible de Recursos Hídricos"
					body="Manejo eficiente y responsable del agua. Optimizamos la gestión hídrica de tus proyectos para garantizar sostenibilidad y reducir costos a largo plazo. Descubre cómo te ayudamos."
					href="/hidraulica"
					Icon={WaterDrop}
					imageUrl={hidraulicaWebp}
					class="animate-fade-in-up animation-delay-400"
				/>
				<!-- Tarjeta de servicio: Estudios de Topografía Avanzada -->
				<Card
					title="Estudios de Topografía Avanzada"
					body="Obtén la información más precisa de tu terreno. Nuestras mediciones detalladas y representaciones exactas son la base para el éxito y la viabilidad de cualquier proyecto. Descubre cómo te ayudamos."
					href="/topografia"
					Icon={RoadSign}
					imageUrl={topografiaWebp}
					class="animate-fade-in-up animation-delay-500"
				/>
			</ul>
		</SectionContainer>

		<!-- Sección de Proyectos -->
		<SectionContainer class="px-4 sm:px-8 lg:px-28 py-20 bg-gray-50"  id="proyectos" fullWidth={true}>
			<h2 class="text-2xl font-bold flex gap-x-2 items-center mb-8 text-secondary">
					<Folder class="inline size-7" />
					Proyectos
				</h2>
				<ProjectCarousel projects={PROJECTS} />
		</SectionContainer>

		<!-- Sección "Sobre Mí" -->
		<SectionContainer class="px-4 sm:px-8 lg:px-28 py-20 md:py-10" id="sobre-mi" >
			<h2 class="text-2xl font-bold flex gap-x-2 items-center text-secondary">
				<UserIcon class="inline size-7" />
				Sobre mi
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
