---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'; // Import the adapted Card component
import Hero from '../components/Hero.astro'; // Import the updated Hero component
import AboutMe from '../components/AboutMe.astro'; // Import AboutMe component
import BriefCase from "@/components/icons/BriefCase.astro";
import Folder from "@/components/icons/Folder.astro";
import Road from "@/components/icons/Road.astro"; // Importar icono de carretera
import RoadSign from "@/components/icons/RoadSign.astro"; // Importar icono de señal de carretera
import WaterDrop from "@/components/icons/WaterDrop.astro"; // Importar el nuevo icono
import ProjectCarousel from "@/components/ProjectCarousel.astro"; // Importamos el nuevo carrusel
import { PROJECTS } from "../data/projects"; // Importamos los datos de los proyectos
import SectionContainer from "@/components/SectionContainer.astro";
import UserIcon from "@/components/icons/User.astro";
import Tools from "@/components/icons/Tools.astro"; // Importar el nuevo icono Tools
---

<Layout
	title="Portafolio Ingeniero Civil"
	description="Experticia en ingeniería civil: vías, topografía, hidráulica, estructuras y consultoría."
>
	<main>
		<Hero /> <!-- Hero component is now self-contained -->

		<!-- Services Section -->
		<SectionContainer class="px-28 py-20 bg-gray-50" id="servicios" fullWidth={true}>
			<h2 class="text-2xl font-bold flex gap-x-2 items-center mb-8 text-secondary">
				<Tools class="inline size-7" />
				Nuestros Servicios
			</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<Card
					title="Consultoría"
					body="Asesoría experta y estratégica para la optimización de tus proyectos de ingeniería, garantizando resultados superiores. Descubre cómo."
					href="/consultoria"
					Icon={BriefCase}
					imageUrl="/Consultoria/consultoria.webp"
					class="animate-fade-in-up animation-delay-100"
				/>
				<Card
					title="Estructuras"
					body="Diseñamos y calculamos estructuras seguras y eficientes, asegurando la solidez y durabilidad de tus edificaciones. Descubre cómo."
					href="/estructuras"
					Icon={Tools}
					imageUrl="/Estructuras/Estructuras.webp"
					class="animate-fade-in-up animation-delay-200"
				/>
				<Card
					title="Infraestructura Vial"
					body="Diseñamos y construimos infraestructura vial que impulsa la movilidad y el progreso, conectando comunidades de manera eficiente. Descubre cómo."
					href="/vias"
					Icon={Road}
					imageUrl="/Infraestructura-Vial/vias.webp"
					class="animate-fade-in-up animation-delay-300"
				/>
				<Card
					title="Recursos Hídricos"
					body="Optimizamos la gestión del agua para tus proyectos, asegurando sostenibilidad y reduciendo costos a largo plazo. Descubre cómo."
					href="/hidraulica"
					Icon={WaterDrop}
					imageUrl="/Recursos-Hídricos/hidraulica.webp"
					class="animate-fade-in-up animation-delay-400"
				/>
				<Card
					title="Topografía"
					body="Realizamos mediciones precisas y representaciones detalladas del terreno para garantizar el éxito y la viabilidad de tu proyecto. Descubre cómo."
					href="/topografia"
					Icon={RoadSign}
					imageUrl="/Topografía/topografia.webp"
					class="animate-fade-in-up animation-delay-500"
				/>
			</ul>
		</SectionContainer>


		<SectionContainer class="px-28 py-20 bg-gray-50"  id="proyectos" fullWidth={true}>
			<h2 class="text-2xl font-bold flex gap-x-2 items-center mb-8 text-secondary">
					<Folder class="inline size-7" />
					Proyectos
				</h2>
				<ProjectCarousel projects={PROJECTS} />
		</SectionContainer>
		<SectionContainer class="px-0 py-20 md:py-10" id="sobre-mi" >
			<h2 class="text-2xl font-bold flex gap-x-2 items-center text-secondary">
				<UserIcon class="inline size-7" />
				Sobre mi
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
